a{
    text-decoration-line: none;
    text-decoration: none;
    color: black;
}
a:visited{
    color:black;
}
.sale_nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid #eca151cb;
    justify-content:space-between;
    color: white;
    background-color: #eca151cb;
}
.Ad{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 150px;
}
.AdSale{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Ad img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.Product_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.Product_item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    padding-bottom: 1px;
    border: 2px solid black;
    color: red;
    margin: 10px;
}
.Rank_item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    padding-bottom: 1px;
    border: 2px solid black;
    color: blue;
    margin: 10px;

}
.Product_item img{
    width: 250px;
    border: 1px solid black;
}
.MainBody{
    padding: 50px;
    background-color: #00bbff85;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.Product_item:hover{cursor: pointer;}
.sale_nav div{
    display: flex;
    padding: 20px;
    align-items: center;
}
.sale_nav input{height: 30px;}
.sale_nav div img{
    margin-left: px;
    filter: invert(100);
    width: 30px;
}
.sale_nav div :hover{cursor: pointer;}

.TopPants-Btn{
    display: flex;
    padding: 30px;
}

.TPBtn{
    margin-right: 10px;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.25s;
    background-color: black;
    border-color: white;
    border: 2px solid;
    color: white;
}

.TPBtn:hover{
    margin-right: 10px;
    background-color: white;
    color: black;
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    transition: 0.25s;
}

/* .TPBtn:focus{
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 2px black;
    transition: 0.2s;
    color: white;
    background-color: black;
} */

.TPBtn:active{
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 2px black;
    transition: 0.1s;
    color: white;
    background-color: black;
}

.TPBtn:visited{
    margin-right: 10px;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.25s;
    background-color: black;
    border-color: white;
    border: 2px solid;
    color: white;
}
.Rank_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
/* 모든 로고의 클래스 이름을 logo_name으로 수정해주세요 */
.logo_name{margin-left: 150px;}
.main_logo_name{margin-left: 10px;}
.main_search_input{width: 600px;}
.logo_name, .main_logo_name{font-family:'Times New Roman', Times, serif;}

.Rank_list img{
    height: 270px;
    width: 200px;
}

.Product_info img{
    margin-top: 50px;
    margin-left: 50px;
    width: 400px;
}
.Product_info{
    display: flex;
    justify-content:space-between;
}
.Product_info div{
    display: flex;
}

.popup{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    flex-direction: column;
}
.nav_popup{padding: 1px;}
.DownPopup{
    border: 1px solid black;
    /* visibility: hidden; */
    display: none;
}
.DownPopup:hover{
    display: block;
    visibility: visible;
}

.TopBottom-Btn{
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    flex-direction: column;
    gap: 10px;
}
.TBBtn{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-weight: normal;
    background-color: white;
    transition: background-color 0.3s, font-weight 0.3s;
}
.TBBtn:hover{
    background-color: #eca151cb;
    cursor: pointer;
    font-weight: bold;
}

.Name_item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    padding-bottom: 1px;
    border: 2px solid black;
    color: blue;
    margin: 10px;
}
.Name_item img{
    width: 250px;
    border: 1px solid black;
}
.Name_item:hover{cursor: pointer;}

/* nav 테스트를 위한 CSS */
.sale_nav_main_test{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid #eca151cb;
    justify-content:space-between;
    color: white;
    background-color: #eca151cb;
}

.sale_nav_main_test div{
    display: flex;
    padding: 20px;
    align-items: center;
}
.sale_nav_main_test input{height: 30px;}
.sale_nav_main_test div img{
    margin-left: px;
    filter: invert(100);
    width: 30px;
}
.sale_nav_main_test div :hover{cursor: pointer;}


.cloth_name, .Size{
    font-size: xx-large;
}

.View_Product_Inform{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}
.Size div{
    margin-right: 5px;
    width: 60px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}